name: Publish (Staging)

concurrency:
  group: publish-staging
  cancel-in-progress: true

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 22 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Fail if we are attempting to run on the master branch
        if: ${{GITHUB.REF_NAME == 'master' && github.repository == 'polonium14/ps-private'}}
        run: exit 1

      - name: Install dependencies
        run: sudo apt-get install -y python3-paramiko python3-lxml

      - uses: actions/checkout@v4.2.2
        with:
          submodules: "recursive"
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: 9.0.x

      - name: Get Engine Tag
        run: |
          cd RobustToolbox
          git fetch --depth=1

      - name: Install dependencies
        run: dotnet restore

      - name: Build Packaging
        run: dotnet build Content.Packaging --configuration Release --no-restore /m

      - name: Package server
        run: dotnet run --project Content.Packaging server --platform win-x64 --platform win-arm64 --platform linux-x64 --platform linux-arm64 --platform osx-x64 --platform osx-arm64

      - name: Package client
        run: dotnet run --project Content.Packaging client --no-wipe-release

      - name: Publish version
        run: Tools/publish_multi_request.py --fork-id staging
        env:
          PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
          GITHUB_REPOSITORY: ${{ vars.GITHUB_REPOSITORY }}
